<!doctype html>
<html>
	<head>
		<title>Pitch Detector</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>
	<body>
		<script 
			type="text/javascript" 
			src="/static/js/pitch_detection.js">
		</script>
		<div class=container>
			<svg height="200" width="200" class="item toggle">
				<circle cx="102" cy="102" r="75" stroke="black" stroke-width="1" fill="black" />
				<circle cx="100" cy="100" r="75" stroke="black" stroke-width="1" fill="#E41D16" />
			</svg>
			<div class="item">
				<input type="range" min="0" max="0.5" step="0.01" value="0.1" class="slider">
				<p>Threshold value <span id="threshold-value"></span></p>
				<p>Current volume <span id="volume-value"> 0.00 </span></p>
			</div>
			<canvas class="item" id="waveform" width="512" height="256"></canvas>
			<div class="item" id="detector">
				<div class="pitch"><span id="pitch">--</span>Hz</div>
				<div class="note"><span id="note">--</span></div>   
				<div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
				<div> Gain : <span id="gain">--</span></div>
			</div>

		</div>

		<!-- sockets -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
		    var socket = io();
		    socket.on('connect', function() {
		    	// callback on connection
		    });

		    socket.on('disconnect', function() {
		    	// callback on disconnection
		    })
		</script>
	</body>
</html>
